* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
    --primary: #2563eb;
    --secondary: #9333ea;
    --bg: #f3f4f6;
    --text: #111827;
}

body {
  font-family: "Bricolage Grotesque", sans-serif;

}

header {
    background-color: black !important;
}

.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url(portrait-young-lady-playing-vr-singing-dark-wall.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.logo2 {
      color: white;
    text-decoration: none;
    font-size: 20px;
}



.hero-content {
    position: absolute;
    top: 41%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    border: 2px solid white;
}


.hero-content h2 {
    color: white;
    font-size: 48px;
    margin-bottom: 20px;
    padding: 10px;
    margin-right: 60px;
    margin-left: 10px;
    max-width: 400px;
}

.brand-section {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    align-items: center;
    padding: 100px 10%;
}

.brand-text {
    background: white;
  padding: 50px;
  margin-left: -90px;
  z-index: 2;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.08);
  position: relative;

  cursor: pointer;

  animation-duration: 3s;
  animation-name: spin;
  animation-delay: 1s;
  animation-iteration-count: 2;

}

.brand-text h2 {
  font-size: 40px;
  margin-bottom: 35px;
  max-width: 500px;
 
}

.brand-text p {
  margin-bottom: 35px;
  max-width: 500px;
   line-height: 1.7;
}



.brand-image img {
    width: 100%;
    height: 520px;
    object-fit: cover;
    border-radius: 6px;
}

.explore {
    padding: 40px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

.explore-left h1 {
    display: flex;
    justify-content: left;
    font-weight: bold;
}

.explore-right {
    border: 2px solid black;
    border-radius: 5px;
}

.explore-right h3 {
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

 .gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
  padding: 50px;
  /* margin: auto; */
}

.explore-bottom {
    border: 2px solid black;
    border-radius: 5px;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
    /* display: none; */
}

button {
    background-color: transparent;
    color: black;
    padding: 10px 35px;
    display: none;
    margin: 0 auto;
  font-family: "Bricolage Grotesque", sans-serif;
  margin-bottom: 40px;
  margin-top: 10px;
  font-weight: 700;
  cursor: pointer;

  animation-duration: 3s;
  animation-name: spin;
  animation-delay: 1s;
  animation-iteration-count: 2;



}

.explore-bottom h3 {
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    /* display: none; */
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 20px ;
}

.overlay h3 {
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    max-width: 170px;
}


.imagez img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.footer {
    background-color: #000;
    color: white;
    padding:  40px 0;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-bottom: 16px;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
}

.footer-links a {
    color: white;
}


.footer-right {
    text-align: right;
}

.socials {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.socials a {
    color: white;
}

.copyright {
    font-size: 0.85rem;
}

@keyframes spin {
    0%{

    }

    50%{
        scale: 2;
        transform: rotate(0);
        border-radius: 0;
    }

    100%{
        transform: rotate(360deg);
        border-radius: 50%;
        scale: 2;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburgerz {
        display: flex;
        color: white;
        cursor: pointer;
    }



    .brand-section{
        grid-template-columns: 1fr;
        gap: 40px;

    }

    .brand-text {
        margin-left: 0;
        padding: 30px;
    }

    .brand-image img {
        height: 320px;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-container {
        justify-content: center;
    }

    .footer-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-right {
      text-align: center;
        margin-top: 50px;
    }

    .socials{
        align-items: center;
        justify-content: center;
    }

    .explore-right {
        display: none;
    }

    .explore {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .explore-bottom {
        display: block;
    }

   button {
    display: block;
   }

   .gallery {
    grid-template-columns: 1fr;
   }

   .imagez img {
  width: 100%;
  height: 200px;
 
}



}